@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";

.keyinsights {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    margin: 0 16px;
  }

  &__button-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    &--hidden {
      padding: 0;
      padding-left: 1rem;
    }
  }

  &__img-container {
    position: relative;
    right: -4px;
    bottom: 10px;
    display: flex;
    // margin: auto 0;
    // flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  &__img {
    position: absolute;
    width: 18px;
    height: 18px;
    &--hidden {
      visibility: hidden;
    }
  }

  &__button {
    color: black;
    background-color: $swm-light-red;
    border: 1px solid $swm-light-red;
    border-radius: 20px;
    width: 100%;
    height: 36px;
    text-align: left;
    margin-right: 16px;
    padding: 0 16px;

    &--hidden {
      visibility: hidden;
      height: 0;
      width: 0;
      padding: 0;
    }
    &--show {
      display: flex;
      width: 100%;
      height: 224px;
    }
  }
}
