@import "../../styles/partials/mixins";

.team {
    @include flex-col;

    margin: 2.7rem 2.7rem 1.6rem 2.7rem;

    &__title {
        width:100%;
        margin-bottom: 2.4rem;
    }

    &__people {
        @include flex-row;
        gap: 2.7rem;
    }
}

.person {
    @include flex-col;

    &__name {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2.2rem;
    }

    &__position {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.2rem;
    }
}

.btn-consult {
    @include flex-col;
    max-width: 224px;
    height: 44px;
    margin: 2.8rem auto 1.6rem;
    justify-content: center;
    align-items: center;


//     color: white;
//     font-size:20px;
//     font-weight: 400;
//     word-wrap: break-word;
//     width: 224px; 
//     height: 44px; 
//     background: #EC121F; 
//     border-radius: 20px; 
//     border: 1px #EC121F solid
}